/* Box Model Hack */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
  color: #b2edda;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

